.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checked {
  color: green;
  font-size: 1.5rem;
}

.description {
  margin-bottom: 1rem;
  /* Truncate to 4 lines  */
  min-height: calc(4 * 0.9rem);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.amount {
  text-align: right;
  font-size: 1.5rem;
}

.icon {
  position: absolute;
  top:0;
  right: 0;
  padding: 1rem 1rem 0;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-shadow: -1px 1px 0 black,
               1px 1px 0 black,
               1px -1px 0 black,
               -1px -1px 0 black;
}